

body {
    margin: 0;
        padding: 0;
    }
    
    
    button {
        margin-bottom: 5px;
    }
    
    input { 
        display: block;
        width: 30px;
    }
    
    
    
    .container {
    width: 50%;
    margin: auto;
    }
    
    
    #chair {
        margin-top: 50px;
        max-width: 300px;
        width: 100%;
        
    
        
    }
    
    .title-chair { 
        border-bottom: 2px solid black;
    }
    
    .product-container { 
        border: solid 2px darkgrey;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .colourpicker-container { 
        display: flex;
    }
    
    .colourpicker-container div {
    margin-right: 10px;
    margin-bottom: 20px;
    }
    
    .colourpicker { 
        padding: 0;
        margin: 0;
        width: 30px;
        height: 15px;
        border: solid 2px black;
        background-color: #BA7C45;
        cursor: pointer; 
    }
    
    
    .colourpicker1 {
        width: 30px;
        height: 15px;
    background-color: #FFE2C4;
    border: solid 2px black;
    cursor: pointer;
    
    }
    
    .colourpicker2 {
        width: 30px;
        height: 15px;
        background-color: #744F25;
        border: solid 2px black;
        cursor: pointer;
    }
    
    .colourpicker3 {
        width: 30px;
        height: 15px;
        background-color: #CA9C67;
        border: solid 2px black;
        cursor: pointer;
    }